*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
p{
    margin: 0;
}

img{
    width: 100%;
}
a{
    text-decoration: none;
    color : white;
}
ul, li{
    list-style: none;
}
:root{
    --verde: #4F7F3F;
    --grisOscuro:#3D3F41;
}

.form{
    width: 90%;
    margin: 20px auto;
}
.editar {
    max-width: 1024px;
    background-color: #1d1c1c;
}
.titulo-form{
    text-align: center;
    color: white;
}
.form-label{
    color: white;
}
.form button{
    background-color: var(--verde);
    color: white;
    padding: 15px 30px;
    border-radius: 10px;
    cursor: pointer;
    
}
.invalid{
    border: red;
}
.valid{
    border: blue;
}
.text-invalid{
    color: red;
}
.text-valid{
    color: blue;
}
small{
    color:var(--verde);
    font-weight:bolder;;
}