<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head") %> 
<body class="registro">
    <header class="registro__header">
        <div class="registro__header__logo">
            <a href="/"><img src="/images/jaqueMate.png" alt=""></a>
        </div>
    </header>
    <main class="registro__main">
        <h1>Agregar Productos</h1>
        <p>Completá los campos vacios</p>

        <form action="" class="registro__main__formulario">
            <label for="nameProduct">Nombre del producto</label>
            <input type="text" name="nameProduct">

            <label for="category">Categoría</label>
            <input type="text" name="category" >
            <label for="description">Descripción</label>
            <input type="text" name="description" >
            <label for="color">Colores</label>
            <input type="color" name="color" >
            <label for="price">Precio</label>
            <input type="text" name="price" >
            <label for="image">Imagen</label>
            <input type="image" name="image" >

            

           
                <div class="registro__main__formulario__confirmar">
                
                    <button type="submit"><a href="/">Agregar Producto</a></button>
                    
                </div>
            
            
            
        </form>
        

    </main>
</body>
</html>