<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head', { title : 'carrito' }) %> 

</head>

<body class="carrito">
    <header class="carrito__header">
     <%- include('./partials/header') %> 
    </header>

    <main class="main__carrito">
       <section class="main__carrito__seccion__cantidad">
            <div class="main__carrito__cantidad__productos">

                <h5>Tienes 4 productos</h5>

            </div>
        </section>
        <section class="main__carrito__seccion">

            <div class="carrito__seccion__productos">

                <article class="carrito__seccion__productos__articulos"> <a href="/products/detalle">
                    <div>
                        <img src="/images/mate_produc.png" alt="">
                    </div>
                    <div class="precio__descripcion">
                        <p>Producto</p>
                        <p>$2500</p>
                    </div>
                    <i class="fa-solid fa-trash-can"></i>
                </a>
            </article>
            <article class="carrito__seccion__productos__articulos art__1 art__2"> <a href="/products/detalle">
                    <div>
                        <img src="/images/termo_produc.jpg" alt="">
                    </div>
                    <div class="precio__descripcion">
                        <p>Producto</p>
                        <p>$2500</p>
                    </div>
                    <p><i class="fa-solid fa-trash-can"></i></p>
                </a>
            </article>
            <article class="carrito__seccion__productos__articulos art__2 art__3"><a href="/products/detalle">
                    <div>
                        <img src="/images/termo_produc2.jpg" alt="">
                    </div>
                    <div class="precio__descripcion">
                        <p>Producto</p>
                        <p>$2500</p>
                    </div>
                    <p><i class="fa-solid fa-trash-can"></i></p>
                </a>
            </article>
            <article class="carrito__seccion__productos__articulos art__2 art__3"><a href="/products/detalle">
                    <div>
                        <img src="/images/bombilla_produc.jpg" alt="">
                    </div>
                    <div class="precio__descripcion">
                        <p>Producto</p>
                        <p>$3000</p>
                    </div>
                    <p><i class="fa-solid fa-trash-can"></i></p>
                </a>
            </article>

            </div>
        </section>
        <section class="main__carrito__seccion__cantidad">
            <div class="main__carrito__cantidad__productos">
                <h5>total = $10500 pesos</h5>
                

            </div>
        </section>
        <section class="seccion__total">
            <div class="seccion__total__finalizar__compra">
                
                <button>Finalizar compra</button>
                <button>Continuar comprando</button>
            </div>
        </section>
       
    </main>


    <footer class="home__footer">
        <%- include('./partials/footer') %> 
    </footer>
</body>

</html>