<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head', { title : 'carrito' }) %> 

</head>

<body class="carrito">
    <header class="carrito__header">
     <%- include('./partials/header') %> 
    </header>

    <main class="main__carrito">
       <section class="main__carrito__seccion__cantidad">
           <h5 class="cantidad_products"></h5>
            <div class="main__carrito__cantidad__productos">
                

            </div>
        </section>
        <section class="main__carrito__seccion">

            <div class="carrito__seccion__productos">

                
            </div>
        </section>
        <section class="main__carrito__seccion__cantidad">
            <div class="main__carrito__cantidad__productos">
                <h5>total = </h5>
                

            </div>
        </section>
        <section class="seccion__total">
            <div class="seccion__total__finalizar__compra">
                
                <button>Finalizar compra</button>
                <button>Continuar comprando</button>
            </div>
        </section>
       
    </main>


    <footer class="home__footer">
        <%- include('./partials/footer') %> 
    </footer>
</body>

</html>