<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head', { title : 'crear' }) %> 

  </head>
</head>
<body class="crear">
     <header class="carrito__header">
        <%- include('./partials/header') %> 
  </header>
    </header>
    <main>
        <h1 class="titulo-form">Crea tu puclicación</h1>
        <section class="form">
          <form action="">
            <div>
              <label for="name" class="form-label">Nombre del producto</label>
              <input type="text" class="form-control" id="name">
            </div>
            <div>
              <label for="description" class="form-label">Descripcion</label>
              <input type="text" class="form-control" id="description">
            </div>
            <div class="conteiner-relative">
              <label for="imagen" class="form-label">Imagen</label>
              <div class="relative">
                <label for="" class="label-imagen form-label">Ingresar imagen</label>
                <input type="file" name="imagen" class="form-imagen">
              </div>
            </div>
            <div>
              <label for="category" class="form-label">Categoria</label>
    
              <select name="category" class="categoria">
    
                <option selected value="mate">Mate</option>
    
                <option value="bombilla">Bombilla</option>
    
                <option value="termo">Termo</option>
    
                <option value="yerbero">Yerbero</option>
    
                <option value="pava">Pava</option>
    
              </select>
            </div>
    
            <div>
              <label for="price" class="form-label">Precio</label>
              <input type="number" class="form-control" id="price">
            </div>
            <input type="submit" name="confirm" value="Confirmar">
          </form>
        </section>
      </main>
    <footer class="home__footer"> <%- include('./partials/footer') %>  </footer>
    
</body>
</html>