<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head', { title : 'login' }) %> 

</head>
<body class="login">
    <header class="login__header">
        <div class="login__header__logo">
            <a href="/"><img src="/images/jaqueMate.png" alt=""></a>
        </div>
    </header>
    <main class="login__main">
        <h1>Iniciar sesion</h1>
        <p>Iniciar sesion a jaqueMate</p>

        <form action="" class="login__main__formulario" method="post">
            <div>
                <label for="email">Email</label>
                <input type="email" name="email" id="email">
                <small class="emailError"><%= locals.errors && errors.email?errors.email.msg : null %></small>
            </div>
            
<div class="pass-container">
    <label for="password">Contraseña</label>
            <input type="password" name="password" id="password">
            <span id="btn-show-pass"><i class="fa-solid fa-eye-slash" ></i></span>
            <small class="passwordError">  <%= locals.errors && errors.password?errors.password.msg : null %></small>
            <p>¿Olvidaste tu <a href="">contraseña</a>?</p>
</div>
            

          
          <div>
            <label for="remember">Recordame</label>
            <input type="checkbox" name="remember" id="remember">
          </div>
            

            <div class="login__main__formulario__confirmar">
            <button type="submit">Iniciar sesion</button>
            <small class="error-form"></small>
            <p>¿No tenés cuenta? <a href="/users/registro">registrate</a></p>
            </div>
        </form>
        

    </main>
    <script src="/javascripts/userLogin.js"></script>
</body>
</html>