<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head', { title : 'registro' }) %> 

</head>
<body class="registro">
    <header class="registro__header">
        <div class="registro__header__logo">
            <a href="/"><img src="/images/jaqueMate.png" alt=""></a>
        </div>
    </header>
    <main class="registro__main">
        <h1>Registro</h1>
        <p>Completá los siguientes datos</p>

        <form action="/users/storeUsers" class="registro__main__formulario" enctype="multipart/form-data">
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre">

            <label for="apellido">Apellido</label>
            <input type="text" name="apellido">

            <label for="email">Email</label>
            <input type="email" name="email" >

            <label for="password">Contraseña</label>
            <input type="password" name="password">

            <label for="password2">Confirma Contraseña</label>
            <input type="password" name="password2">

            <label for="avatar">Avatar</label>
            <input type="file" name="avatar">

            <div class="registro__main__formulario__confirmar">
            <button type="submit">Crear cuenta</button>
            <p>¿Ya tenés cuenta? <a href="/users/login">inicia sesión</a></p>
            </div>
        </form>
        

    </main>
</body>
</html>