<section class="home__footer__redes">
    <h5>JAQUE MATE</h5>
    <div class="home__footer__redes__icono">
        <p><i class="fa-brands fa-instagram"></i></p>
        <p><i class="fa-brands fa-facebook"></i></p>
        <p><i class="fa-brands fa-whatsapp"></i></p>
    </div>
</section>
<section class="footer__venta">
    <p>Venta telefónica:
        0810 333 8700
        LU-VI de 8:00 a 20:00
        SA-DO-Feriados 9:00 a
        21:00</p>
</section>
<section class="footer__telefono">
    <p>
        Atención al cliente:
        0810 999 3728
        LU-VI de 09:00 a 18:00
        SA de 9:00 a 13:00

    </p>
</section>
<section class="footer__help">
    <div>
        <p>¿Necesitas ayuda?</p>
    </div>
</section>
<section class="footer__copy">
    <p>
        Copyright 2021 | Todos
        los derechos
        reservados
        JaqueMate.com. Peron
        1425 San Miguel |
        Buenos Aires |
        Argentina
    </p>
</section>
