<header class="home__header">
    <div class="home__header__logo">
        <a href="/"><img src="/images/jaqueMate.png" alt=""></a>
    </div>
    <div class="home__header__busqueda">
        <input type="text" value="¿Que producto buscas?"><br>
        <button>
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
    </div>


    <nav class="home__header__nav">
        <a href="/users/login" class="ingresar"><p >ingresar</p></a>
        <p><a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a></p>
        <div class="home__header__nav__foto"></div>
    </nav>

    <div class="home__header__burger">
        <i class="fas fa-bars">
        </i>
    </div>
    <nav class="home__header__categorias">
        <ul>
            <li><a href=""></a>mates</li>
            <li><a href=""></a>bombillas</li>
            <li><a href=""></a>termos</li>
            <li><a href=""></a>yerberos</li>
            <li><a href=""></a>pavas</li>
        </ul>
    </nav>
    <div class="home__header__promo">
        <a>Promociones</a>
    </div>



</header>