

    <div class="carrito__header__logo">
      <a href="/"><img src="/images/jaqueMate.png" alt=""></a>
    </div>
    <div class="carrito__header__busqueda">
      <input type="text" value="¿Que producto buscas?"><br>
      <button>
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </div>

    <% if (locals.userLogin) { %>
      <a href="/users/profile" class="ingresar">
        <p>Mi perfil</p>
      </a>
      <a href="/users/logout" class="ingresar">
        <p>Salir</p>
      </a>
      <% if (userLogin.categoria === "admin") { %>
       
        <a href="/products/crearProducto" class="ingresar">
          <p>Agregar</p>
        </a>
      <% } %>


    <% }else{ %>
    <nav class="home__header__nav">
      <a href="/users/login" class="ingresar">
        <p>Ingresar</p>
      </a>
      <a href="/users/registro" class="ingresar">
        <p>Registro</p>
      </a>
      <p><a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a></p>
      <div class="home__header__nav__foto"></div>
    </nav>
    <% } %>
    <div class="home__header__burger">
      <i class="fas fa-bars">
      </i>
    </div>

    <nav class="carrito__header__categorias">
      <ul>
        <li><a href=""></a>Mates</li>
        <li><a href=""></a>Bombillas</li>
        <li><a href=""></a>Termos</li>
        <li><a href=""></a>Yerberos</li>
        <li><a href=""></a>Pavas</li>
      </ul>
    </nav>





