

    <div class="carrito__header__logo">
      <a href="/"><img src="/images/jaqueMate.png" alt=""></a>
    </div>
    <div class="home__header__busqueda">
      <form action="/search" method="GET" class="search-form">
      <input type="text" name="keywords" placeholder="Buscar productos, marcas y más"><br>
      <button class="button-search" type="submit">
          <i class="fa-solid fa-magnifying-glass"></i>
      </button>
  </form>
  </div>

    <% if (locals.userLogin) { %>
      <nav class="home__header__nav">
          <p><a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a></p>
          <a href="/users/profile/<%= userLogin.id %>" class="ingresar"><p ><%= userLogin.nombre %></p></a>
          <a href="/users/logout" class="ingresar"><p >Salir</p></a>
          <% if (locals.userLogin && userLogin.categoria === "Admin" || locals.userLogin && userLogin.categoria === "SuperAdmin") { %>
       
              <a href="/products/crearProducto" class="ingresar"><p >Agregar</p></a>     
      <% } %>
      </nav>
      


    <% }else{ %>
      <nav class="home__header__nav">
          <p><a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a></p>
          <a href="/users/login" class="ingresar"><p >Ingresar</p></a>
          <a href="/users/registro" class="ingresar"><p >Registro</p></a>
      </nav>
    <% } %>
    <div class="home__header__burger">
      <i class="fas fa-bars">
      </i>
    </div>

    <nav class="carrito__header__categorias">
      <ul>

<%categories.forEach(category => { %>
  <li><a href="/products/category/<%=category.id%>"><%=category.name%></a></li>
<% }) %>

        <!-- <li><a href=""></a>Mates</li>
        <li><a href=""></a>Bombillas</li>
        <li><a href=""></a>Termos</li>
        <li><a href=""></a>Yerberos</li>
        <li><a href=""></a>Pavas</li> -->
      </ul>
    </nav>




