

    <div class="carrito__header__logo">
      <a href="/"><img src="/images/jaqueMate.png" alt=""></a>
    </div>
    <div class="carrito__header__busqueda">
      <input type="text" value="¿Que producto buscas?"><br>
      <button>
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </div>


    <nav class="home__header__nav">
      <a href="/users/login" class="ingresar">
        <p>ingresar</p>
      </a>
      <p><a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a></p>
      <div class="home__header__nav__foto"></div>
    </nav>

    <div class="home__header__burger">
      <i class="fas fa-bars">
      </i>
    </div>

    <nav class="carrito__header__categorias">
      <ul>
        <li><a href=""></a>Mates</li>
        <li><a href=""></a>Bombillas</li>
        <li><a href=""></a>Termos</li>
        <li><a href=""></a>Yerberos</li>
        <li><a href=""></a>Pavas</li>
      </ul>
    </nav>





