<article> <a href="/products/detail">
    <div>
        <img src="/images/mate_produc.png" alt="">
    </div>
    <div class="descrip">
        <p>Producto</p>
        <p>$1000</p>
    </div>
</a>
</article>
<article> <a href="/products/detail">
    <div>
        <img src="/images/termo_produc.jpg" alt="">
    </div>
    <div class="descrip">
        <p>Producto</p>
        <p>$1000</p>
    </div>
</a>
</article>
<article><a href="/products/detail">
    <div>
        <img src="/images/termo_produc2.jpg" alt="">
    </div>
    <div class="descrip">
        <p>Producto</p>
        <p>$1000</p>
    </div>
</a>
</article>
<article><a href="/products/detail">
    <div>
        <img src="/images/bombilla_produc.jpg" alt="">
    </div>
    <div class="descrip">
        <p>Producto</p>
        <p>$1000</p>
    </div>
</a>
</article>

</section>